/* Modal.css */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a48ee906;
    backdrop-filter: blur(.4px); /* Adjust the blur value as desired */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Ensure it's above other content */
    margin-top: 36px;
    margin-left: 0px !important;
}

.modal {
    background-color: rgba(255, 255, 255, 0.9); /* Use an RGBA color for transparency */
    border-radius: 8px;
    width: 100%;
    max-width: 1279px;
    position: relative;
    z-index: 2;
    max-height: 550px;
    overflow: auto;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    color: #666;
}

.modal-content {
    padding: 20px;
    background-color: white;
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
    }
}
