@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.element-with-clip-path {
  width: 300px; /* Adjust dimensions as needed */
  height: 200px; /* Adjust dimensions as needed */
  background-color: #f0f0f0; /* Example background color */
  clip-path: polygon(5.2% 19%, 94.8% 7.2%, 94.8% 52.2%, 94.6% 100%, 5.4% 100%);
  border-radius: 50px; /* Round the corners */
}

.style-card {
  position: relative;
  bottom: 74px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.service-text{
font-weight: 700;
line-height: 58.14px;
font-size: 54px;
text-align: center;
text-transform: uppercase;
}
.no-x-overflow {
  overflow-x: hidden;
}
.my-custom-shadown-for-filter{
  box-shadow: '0px -1px 10px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05)';
}
@media (min-width: 1600px) {
  .hero-filters {
    height: 100px;
    left: 7.5px;
  }
}

.footer-image {
  background-image: url("../public/UPDONE (1).png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.trusted-text{
  font-size: 28px;
  font-weight: 600;
  line-height: 34.13px;
  letter-spacing: -0.01em;
  text-align: center;
  color: #2C2240;
  padding: 80px 0 0 0;
}
/* security */
.security-bg {
  position: relative;
  height: 90vh;
  width: 100%;
  overflow: hidden;
}

.security-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%; /* Left half */
  z-index: 1;
}

.security-bg::after {
  content: '';
  position: absolute;
  top: 0;
  right: -12px;
  width: 243%;
  height: 90vh;
  background-color: #2C2240;
  z-index: 1;
  transform: rotate(-3deg);
  overflow: hidden;
}
.why-choose{
font-size: 65px;
font-weight: 700;
line-height: 76px;
letter-spacing: -0.02em;
text-align: left;
color: white;
}
.security-head{
  color:  #FFF;
  /* REGULAR BODY */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.32px;
  margin-bottom: 5px;
}
.security-body{
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #FFFFFF;
}
.faq-head{
font-size: 44px;
font-weight: 600;
line-height: 53.64px;
letter-spacing: -0.02em;
text-align: left;
color: #000000;
}
.faq-body{
font-size: 20px;
font-weight: 700;
line-height: 24.38px;
text-align: left;
color: #6B6B6B;
}
.shadow-whiteeee {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%), 0 6px 20px 0 rgb(0 0 0 / 0%);
}
.time-scroll{
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE and Edge */
}
/* styles/ExampleComponent.module.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
  --font-family-montserrat: 'Montserrat', sans-serif;

}
.montserrat-font {
    font-family: 'Montserrat', sans-serif;
}
#phone-input {
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-radius: 0 4px 4px 0px;
}
#dropdown-phone-button {
  border-width: 1px 0px 1px 1px;

}
.login_backgorund{
  background-color: rgba(243, 240, 255, 0.5);
}
.focus\:outline-blue-200:focus{
  background-color: white;
}
.swiper-pagination-bullet{
  border-radius: 0px !important;
}
.swiper-pagination-bullet-active{
  border-radius: 8px !important;
  width: 43.5px !important;
}
.shadowed-div {
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.75), 
              0px -5px 5px -5px rgba(0, 0, 0, 0.75);
}
/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader_hero {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #7e7c7ca9;
  box-shadow: 0 0 0 0 rgba(73, 73, 73, 0.267);
  animation: l2 1.5s infinite linear;
  position: relative;
}
.loader_hero:before,
.loader_hero:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(52, 52, 52, 0.267);
  animation: inherit;
  animation-delay: -0.5s;
}
.loader_hero:after {
  animation-delay: -1s;
}
@keyframes l2 {
    100% {box-shadow: 0 0 0 40px #55555500}
}