@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.custom-calendar {
  max-height: 100% !important;
  /* Ensure the height does not exceed the container */
  width: 100% !important;
  background-color: #fff !important;
  border: none !important;
}

.react-calendar__navigation {
  background: #fff !important;
  /* Apply white background to the navigation */
  height: 37px !important;
  margin-bottom: 0 !important;
padding: 8.304px 4px !important;

;
}

.react-calendar__navigation button {
  background-color: #fff !important;
  /* Adjust button color */
  color: black !important;

}

.react-calendar__navigation button:disabled:hover {
  background-color: transparent !important;
  /* Remove background color on hover */
}

.react-calendar__navigation__prev-button {
  color: white !important;
  font-size: x-large !important;
  visibility: hidden;
  position: absolute;
}

.react-calendar__navigation__next-button {
  font-size: x-large !important;
  transform: rotate(90deg) !important;
  color: #000000 !important;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button {
  visibility: hidden !important;
  position: absolute !important;
}

.react-calendar__tile--active {
  background: #350ABC !important;
  /* Change active date background to the specified color */
  border-radius: 100px !important;
  /* Apply border radius */
  color: white !important;
  /* Change the text color of active date to white */
}

.react-calendar__month-view__weekdays__weekday abbr {
  border-bottom: none !important;
  /* Remove the dotted border at the bottom */
  outline: none !important;
  color: #350ABC !important;
  text-align: center !important;
  font-size: 13.233px !important;
  font-style: normal !important;
  font-weight: 600 !important;
  line-height: normal !important;
}

.react-calendar__month-view__weekdays {
  max-width: 1000px !important;
  font-size: larger !important;
  padding: 6.643px 3.322px !important;
  background: #2C2240 !important;
  margin: 8px 10px !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
  border: 1px solid #f1f1f1 !important;
  font-size: 13.23px !important;
  font-weight: 600 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.react-calendar__month-view__weekdays__weekday {
  max-width: 71px !important;
  text-align: center !important;

}

.react-calendar__month-view__weekdays__weekday:first-child abbr { 
  color: #F3F0FF !important;
  /* Change the color of 'MON' to the specified color */
  text-align: center !important;
  font-size: 11px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
line-height: 13.287px;
}

.react-calendar__month-view__weekdays__weekday abbr { 
  text-decoration: none !important;
  word-spacing: 1px !important;
  color: #F3F0FF !important;
  /* Change the color of 'MON' to the specified color */
  text-align: center !important;
  font-size: 11px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
line-height: 13.287px;

}

.react-calendar__month-view__weekdays__weekday {
  padding: 0px !important;
  text-align: center !important;
}

.react-calendar__tile--now {
  background: white !important;
  /* Change the background of the current date */
  max-width: 71px !important;
  color: #b7b7b7 !important;
  /* Ensure the text color is set */
}

.react-calendar__tile--active {
  background: none !important;
  /* Reset background for active date */
  max-width: 71px !important;
  color: white !important;
  /* Ensure the text color is set */
}

.react-calendar__month-view__days__day--weekend {
  color: #b7b7b7 !important;
  max-width: 71px !important;
}

.react-calendar__month-view__days__day abbr {
  max-width: 71px !important;
  color:  #2C2240 !important;
  text-align: center !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 11.626px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 17.439px !important; /* 150% */
  letter-spacing: -0.266px !important;
}

.react-calendar__month-view__days {
  font-size: 16px !important;
  font-weight: 600 !important;
  display: flex !important;
  padding: 0 10px !important;
  justify-content: space-between !important;
  align-items: center !important;
  height: 100% !important;
  line-height: 30.5px;
}

.react-calendar__tile.react-calendar__month-view__days__day {
  max-width: 100px !important;
  color: #6B6B6B !important;
  font-weight: 500 !important;
  font-size: 13.23px !important;
}

.react-calendar {
  line-height: 23px !important;
}

.react-calendar__tile--active abbr {
  color:  #F3F0FF !important;
  text-align: center !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 11.626px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 17.439px !important; /* 150% */
  letter-spacing: -0.266px !important;
  background-color: #350ABC !important;
  display: flex !important;
height: 35.793px !important;
flex-direction: column !important;
justify-content: center !important;
flex: 1 0 0 !important; 
border-radius: 4px !important;
padding-right: 0px !important;
}

.time-border-style {
  border-radius: 4px !important;
  border: 1.295px solid #f3f0ff !important;
}

.selected-style {
  border-radius: 4px !important;
  background: #350ABC !important;
  padding: 8px 10px !important;
}

.react-calendar__navigation__label {
  display: contents;
  position: relative;
  top: 2px;

}

.react-calendar__navigation__label__labelText--from {
  position: relative !important;
  top: 1px !important;
  color: #000 !important;
  font-size: 16.608px !important;
  line-height: 19.93px !important;
  /* 120% */
  letter-spacing: 0.316px !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500 !important;
  font-style: normal !important;
  left: 6px !important;
}
.highlight {
  text-align: center !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 11.626px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 17.439px !important; /* 150% */
  letter-spacing: -0.266px !important;
  display: flex !important;
  height: 35px !important;
  justify-content: center !important;
  background-color: #fff1f1!important;
  border-radius: 4px !important;
  color: #ffa0a0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.highlight-avail{
  text-align: center !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 11.626px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 17.439px !important; /* 150% */
  letter-spacing: -0.266px !important;
  display: flex !important;
  height: 35px !important;
  justify-content: center !important;
  background-color: #e9f3ff!important;
  border-radius: 4px !important;
  color: #5082bd !important;
  padding-bottom: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.react-calendar__month-view__days__day{
  padding-left: 0px !important;
  padding-left: 0 !important;
  border-radius: 0 !important;
  padding-right: 0 !important;
  border-radius: 4px !important;
}
.react-calendar__tile.highlight abbr {
  color: red !important;
  text-transform: uppercase !important;
  text-decoration: line-through !important;
}
.react-calendar__month-view__days__day.highlight-avail{
  padding-top: 0 !important;
}
