/* Define transition for height change */

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition:  1s ease-out !important;
  }
  
  /* Styles for open state */
  .open .accordion-content {
    max-height: 500px; /* Adjust as per your content height */
    transition:  1s ease-out !important;
  }
  /* Example CSS */
.defaultsearch::placeholder {
  color: #9F9F9F;
  /* Small Body */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: -0.28px;
  position: relative;
  left: 8px;

}